<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carte des stations de vélo</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<header>
    <nav>
        <a href="#">Accueil</a>
        <a href="#donnes">Données</a>
        <a href="#map">Carte</a>
        <div class="animation start-home"></div>
    </nav>
</header>
<body id="wrapper">
<section id="donnes">
    <h1>Classement des villes avec le plus de stations</h1>
    <table>
        <thead>
        <tr>
            <th><a>Ville</a></th>
            <th><a>Nom du service</a></th>
            <th><a>Nombre de stations</a></th>
            <th><a>Nombre total de vélos disponibles</a></th>
            <th><a>Moyenne de vélos disponibles par station</a></th>
        </tr>
        </thead>
        <tbody>
        {% for contract in bike_data %}
        <tr>
            <td>{{ contract['contract_name'] }}</td>
            <td>{{ contract['commercial_name'] }}</td>
            <td>{{ contract['num_stations'] }}</td>
            <td>{{ contract['total_bikes'] }}</td>
            <td>{{ "%.2f"|format(contract['avg_bikes_per_station']) }}</td>
            <td><a href="/stations/{{ contract['contract_name'] }}">Voir plus</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
<section>
    <h1>Carte des stations de vélo mise à jour en temps réel</h1>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        var map = L.map('map').setView([46.603354, 1.888334], 5); // Coordonnées de la France

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Récupération des données de toutes les stations de vélo
        fetch('https://api.jcdecaux.com/vls/v1/stations?apiKey=e0a1bf2c844edb9084efc764c089dd748676cc14')
            .then(response => response.json())
            .then(data => {
                // Ajout des marqueurs pour chaque station de vélo
                data.forEach(station => {
                    L.marker([station.position.lat, station.position.lng]).addTo(map)
                        .bindPopup(`<b>${station.name}</b><br>Nombre de vélos disponibles : ${station.available_bikes}`);
                });
            })
            .catch(error => console.error('Une erreur s\'est produite lors de la récupération des données :', error));
    </script>
</section>
</body>

<footer>
    <p>Projet réalisé par <a href="https://www.linkedin.com/in/célian-mats/">Célian Mats</a> dans le cadre de la candidature au poste d'alternant chez Ellipse Bikes</p>
</footer>
</html>